@{
    ViewData["Title"] = "Nuevo Animal";
}


<div class="text-center">
    <h1 class="display-4">Nuevo Animal</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <form action="@Url.Action("Guardar", "Animales")" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label><br />
                <input type="text" name="nombre" title="nombre" />
            </div>
            <div class="form-group">
                <label for="especie">Especie</label><br />
                <input type="text" name="especie" title="especie" />
            </div>
            <div class="form-group">
                <label for="raza">Raza</label><br />
                <input type="text" name="raza" title="raza" />
            </div>
            <div class="form-group">
                <label for="sexo">Sexo</label>
                <select name="sexo" title="sexo">
                    <option value="Hembra">Hembra</option>
                    <option value="Macho">Macho</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento</label><br />
                <input type="date" name="fechaNacimiento" title="fechaNacimiento" />
            </div>
            <div class="form-group">
                <label for="edad">Edad</label><br />
                <input type="number" name="edad" title="edad" />
                <input type="radio" name="mesesAños" value="año/s" />
                <label class="mesesAños">años</label>
                <input type="radio" name="mesesAños" value="mes/es" />
                <label class="mesesAños">meses</label>
            </div>
            <div class="form-group">
                <label for="peso">Peso</label><br />
                <input type="number" name="peso" title="peso" /> <label for="peso">kg</label>
            </div>
            <input type="submit" value="Guardar" />
        </form>
    </div>
</div>
